<div class="header d-flex flex-column align-items-center" >
  <h1>~  d o w n t i m e  ~</h1>
  <h3>ambient sound, geographically linked</h3>
</div>

<div class="mb-2"style="max-height: 600px; min-height: 460px;"
data-controller="map"
data-map-markers-value="<%= @markers.to_json %>"
data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
