<div class="header d-flex flex-column align-items-center" >
  <h1>~  n e w   s o u n d  ~</h1>
  <h3>create a new ambient sound to share with everyone</h3>
</div>

<%= render 'form', sound: @sound %>
