@media (min-height: 1111px) {
  #map {
    height: 920px;
   }
}

@media (min-height: 1000px) and (max-height: 1050px) {
  #map {
    height: 800px;
   }
}

@media (min-height: 950px) and (max-height: 999px) {
  #map {
    height: 750px;
   }
}

@media (min-height: 900px) and (max-height: 949px) {
  #map {
    height: 730px;
   }
}

@media (min-height: 880px) and (max-height: 899px) {
  #map {
    height: 710px;

   }
}

@media (min-height: 840px) and (max-height: 879px) {
  #map {
    height: 660px;

   }
}

@media (min-height: 800px) and (max-height: 839px) {
  #map {
    height: 610px;

   }
}

@media (min-height: 780px) and (max-height: 799px) {
  #map {
    height: 590px;

   }
}

@media (min-height: 760px) and (max-height: 789px) {
  #map {
    height: 570px;

   }
}

@media (min-height: 740px) and (max-height: 759px) {
  #map {
    height: 550px;

   }
}

@media (min-height: 720px) and (max-height: 739px) {
  #map {
    height: 535px;

   }
}

@media (min-height: 690px) and (max-height: 719px) {
  #map {
    height: 505px;

   }
}

@media (min-height: 653px) and (max-height: 689px) {
  #map {
    height: 480px;

   }
}

@media (min-height: 600px) and (max-height: 652px) {
  #map {
    height: 430px;

   }
}

@media (max-height: 599px) {
  #map {
    height: 400px;
   }
}
